body
{   height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(to bottom,rgb(236, 159, 16),rgb(216, 38, 68));
}
.sketchpad
{   display:flex;
    flex:0 0 auto;
    flex-wrap: wrap;
    align-items: baseline;
    width:800px;
    height:800px;
    border: 2px solid black;
    background-color:white;
}
.wrapper
{
    display:flex;
}
.gridon
{
    border:1px solid black;
}
.alter
{
    background-color:rgb(12, 94, 39);
}